<h1>Stupid Coaching</h1>
<div>
  <p>----------------------------</p>
  <p><%= @you %></p>
  <p>- You</p>
  <p>----------------------------</p>
</div>
<div>
  <p>----------------------------</p>
  <p><%= @coach %></p>
  <p>- Your coach</p>
  <p>----------------------------</p>
</div>
<%= link_to "Ask a new question", ask_path %>
